# Gitea user and group IDs
USER_UID=${USER_UID}
USER_GID=${USER_GID}

# Gitea database configuration
GITEA_DB_HOST=${GITEA_DB_HOST}
GITEA_DB_NAME=${GITEA_DB_NAME}
GITEA_DB_USER=${GITEA_DB_USER}
GITEA_DB_PASSWORD=${GITEA_DB_PASSWORD}

# Gitea server settings
GITEA_ROOT_URL=${GITEA_ROOT_URL}
GITEA_SSH_DOMAIN=${GITEA_SSH_DOMAIN}
GITEA_SSH_PORT=${GITEA_SSH_PORT}
GITEA_WEB_UI_PORT=${GITEA_WEB_UI_PORT}
GITEA_DATA_VOLUME=${VOLUME}
